*
{
	font-family:consolas;
	color:white;
	letter-spacing: 0.5px;
}	

body
{
	margin:0 auto;
	background-image:url(fondo.png);
	width:100%;
	height:100%;
	display:block;
	background-color:black;
	background-repeat:no-repeat;
	background-size:100%;
}
	
img
{
background-image: url("logo.png");
background-size: 300px 80px;
display: block;
position: relative;
width: 600px;
height: 80px;
left: 615px;
top: 20px;
z-index: -1;
background-repeat: no-repeat;	
}

p
{
	color:white;
	text-align:center;
	font-size:24px;
	position:relative;
	top:40px;
	transition: 1s;
}	

table
{
	top: 100px;
	text-align:center;
	display:block;
	position:relative;
	left:476px;
	width: 1000px;
}

.fila2
{
	background-color:#3e3737;
	transition:1s;
}

.fila1
{
	background-color:black;
	transition:1s;
	font-size:18px;
}

.fila1 td:hover , .fila2 td:hover
{
	background-color:white;
	color:black;
	transition:1s;
}

p:hover
{
	font-size: 26px;
	color: red;
	transition: 1s;
}	
